# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# macOS
.DS_Store

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz

# Large generated numerical data
data/*
!data/README.md